* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #000000;
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    font-size: 18px;
    line-height: 120%;
    display: grid;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 94px 54px 96px 45px;
}

.header__logo-image_black {
    display: block;
    width: 133px;
}

.header__link_active {
    text-decoration: none;
}

.header_menu-list {
    display: flex;
    gap: 17px;
    list-style: circle;
    width: 428px;
}

.header__links-list-item {
    margin-right: 12px;
    letter-spacing: 0.3px;
}

.header__address {
    padding-left: 194px;
    word-spacing: 1.7px;
    justify-self: end;
}

.address-item {
    list-style: none;
}

.cover {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
}

.cover_title {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 164px 0 106px 0px;
    gap: 22px;
    text-align: start;
    font-size: 100px;
    font-weight: 700px;
    line-height: 115px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: white;
    z-index: 2;
}

.accent-span {
    display: block;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
    padding-right: 24px;
}

.text-right {
    text-align: right;
    padding-right: 25px;
}

.cover_description {
    position: relative;
    padding: 0 50px 50px 0px;
    display: flex;
    align-items: center;
    gap: 106px;
    flex-wrap: nowrap;
    min-width: 1000px;
    z-index: 2;
}

.cover__description-text {
    position: relative;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: lighter;
    word-spacing: 19px;
    color: white;

}

.bet-button {
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 31px;
    padding-left: 31px;
    color: white;
    background-color: transparent;
    border: 1px solid currentColor;
    white-space: nowrap;
    font-size: 22px;
    word-spacing: 2px;
}

.lots {
    padding-top: 195px;
    padding-bottom: 118px;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.lot_title {
    padding-bottom: 39px;
    padding-left: 59px;
}

.lots__card-list {
    padding-left: 19px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 33px;
}

article {
    height: 100%;
    position: relative;
}

.card_type {
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card_content {
    display: flex;
    min-height: 596px;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px 48px 40px;
}

.cover_title-text {
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 120%;
    text-decoration: underline;
    position: relative;
    letter-spacing: 0.7px;
    z-index: 2;
}

.cover_card_text {
    color: #FFFFFF;
    line-height: 120%;
    font-size: 20px;
    font-weight: normal;
    position: relative;
    z-index: 2;
    justify-items: end;
}

.card-link {
    height: 100%;
    text-decoration-color: white;
    text-decoration: none;
}

.lot_link {
    padding-left: 59px;
    font-size: 20px;

}

.about {
    width: 1052px;
    padding-left: 66px;
    padding-top: 36px;
    display: grid;
    grid-template-columns: 287px auto;
    grid-template-rows: auto;
}

.about__logo_container {
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
}

.title_about {
    align-self: center;
    padding-top: 114px;
    padding-left: 25px;
}

.logo-white_image {
    width: 148px;
    height: 114px;
}

.conteiner_about_text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 112px;
    padding-left: 25px;
}

.about_text {
    font-size: 20px;
    line-height: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding-top: 180px;
    padding-bottom: 82px;
    gap: 26px;
    width: 1100px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

.footer__social-list-item {
    display: flex;
    gap: 48px;
    justify-self: center;
}

.footer_address {
    padding-left: 46px;
    line-height: 23px;
}

.footer__menu {
    text-align: center;
    word-spacing: 1.4px;
    letter-spacing: 0.7px;
    line-height: 21px;
}

.footer__menu-link_active {
    text-decoration: none;
}